    <body>
      <div class="container col s12 cyan darken-3">
         <h5 class="orange-text text-accent-4">Sign in to continue</h5> 


  





<% if session[:user] %>    
<h3>Current user:</h3>
<%= image_tag session[:image] %>
<p><%= session[:nickname] %></p>
<p><%= session[:uid] %></p>
<p><a href="/logout">Logout</a></p>
<% else %>
<p> <%= link_to image_tag("sits_small.png"), "/auth/steam" %></p>

<% end %>
              
          
        
        
        

          
       
      </div>
    </body>
    
